CTKJIntLib/gsoap/JcxlwServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ctkjwebservice.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://ctkjwebservice.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ctkjwebservice.org/">
      <s:element name="writeObjectOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xtlb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jkxlh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jkid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XmlDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="writeObjectOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="writeObjectOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="queryObjectOut">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xtlb" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jkxlh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jkid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XmlDoc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="queryObjectOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryObjectOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VedioPlay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jylsh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jyjgbh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="jkxlh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VedioPlayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VedioPlayResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="writeObjectOutSoapIn">
    <wsdl:part name="parameters" element="tns:writeObjectOut" />
  </wsdl:message>
  <wsdl:message name="writeObjectOutSoapOut">
    <wsdl:part name="parameters" element="tns:writeObjectOutResponse" />
  </wsdl:message>
  <wsdl:message name="queryObjectOutSoapIn">
    <wsdl:part name="parameters" element="tns:queryObjectOut" />
  </wsdl:message>
  <wsdl:message name="queryObjectOutSoapOut">
    <wsdl:part name="parameters" element="tns:queryObjectOutResponse" />
  </wsdl:message>
  <wsdl:message name="VedioPlaySoapIn">
    <wsdl:part name="parameters" element="tns:VedioPlay" />
  </wsdl:message>
  <wsdl:message name="VedioPlaySoapOut">
    <wsdl:part name="parameters" element="tns:VedioPlayResponse" />
  </wsdl:message>
  <wsdl:portType name="JcxlwServerSoap">
    <wsdl:operation name="writeObjectOut">
      <wsdl:input message="tns:writeObjectOutSoapIn" />
      <wsdl:output message="tns:writeObjectOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="queryObjectOut">
      <wsdl:input message="tns:queryObjectOutSoapIn" />
      <wsdl:output message="tns:queryObjectOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VedioPlay">
      <wsdl:input message="tns:VedioPlaySoapIn" />
      <wsdl:output message="tns:VedioPlaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JcxlwServerSoap" type="tns:JcxlwServerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="writeObjectOut">
      <soap:operation soapAction="http://ctkjwebservice.org/writeObjectOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryObjectOut">
      <soap:operation soapAction="http://ctkjwebservice.org/queryObjectOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VedioPlay">
      <soap:operation soapAction="http://ctkjwebservice.org/VedioPlay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="JcxlwServerSoap12" type="tns:JcxlwServerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="writeObjectOut">
      <soap12:operation soapAction="http://ctkjwebservice.org/writeObjectOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryObjectOut">
      <soap12:operation soapAction="http://ctkjwebservice.org/queryObjectOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VedioPlay">
      <soap12:operation soapAction="http://ctkjwebservice.org/VedioPlay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JcxlwServer">
    <wsdl:port name="JcxlwServerSoap" binding="tns:JcxlwServerSoap">
      <soap:address location="http://172.1.27.254:8039/jcxlw/JcxlwServer.asmx" />
    </wsdl:port>
    <wsdl:port name="JcxlwServerSoap12" binding="tns:JcxlwServerSoap12">
      <soap12:address location="http://172.1.27.254:8039/jcxlw/JcxlwServer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>